*.SchDocPreview
History/*
Project Logs for c-mote/*
*~
*.swp
*.swo
Project Outputs for c-mote/Design Rule Check - c-mote.html
Project Outputs for c-mote/Design Rule Check - c-mote.drc
__Previews/c-mote.PcbDocPreview
__Previews/c-mote.PcbDocPreview
*.PcbDocPreview
